* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    font-family: poppins, arial, sans-serif;

}

.modal {
    width: 96%;
    max-width: 1000px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 30px rgba(56, 56, 56, 0.3);
}
.modal .modal-product {
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
}
.modal .modal-product .product {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.modal .modal-product .product .product-slideshow {
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}
.modal .modal-product .product .product-slideshow .productSlides {
    display: none;
}
.modal .modal-product .product .product-slideshow .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    position: relative;
    top: -36px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Fading animation */
}
.modal .modal-product .product .product-slideshow .dot.active {
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.modal .modal-product .product .product-slideshow .dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.modal .modal-product .product .product-slideshow .dot .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.modal .modal-product .product .product-name {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    margin-top: -22px;
}
.modal .modal-product .product .product-code-name {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin: 8px auto 5px;
    color: white;
}
.modal .modal-product .product .product-price {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.18rem;
    text-align: center;
    color: white;
}
.modal .modal-product .round-shape {
    width: 125%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: linear-gradient(-45deg, #101979 0%, #0ba174 100%);
    box-shadow: 0 0 25px rgb(14, 22, 107);
    z-index: 1;
}
.modal .modal-info {
    width: 60%;
    height: 100%;
    float: right;
    position: relative;
}

.delivery {
    width: 60%;
    height: 100%;

    position: relative;

}
.delivery-modal {
    width: 90%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
}

.modal .modal-info .info {
    width: 90%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
}

.title {
    font-size: 2.25rem;
    margin-left: 1rem;
}

.modal .modal-info .info h2 {
    font-size: 2.25rem;
    margin-left: 1rem;
}
.form-delivery {
    margin-top: 1.5rem;
    margin-left: 3.5rem;
}

.modal .modal-info .info form .form-list {
    margin-top: 1.5rem;
    margin-left: 3.5rem;
}
.form-delivery-row {
    margin: 1rem 0;
}

.modal .modal-info .info form .form-list .form-list-row {
    margin: 1rem 0;
}

.form-delivery-row label{
    font-size: 1rem;
}

.modal .modal-info .info form .form-list .form-list-row label {
    font-size: 1rem;
}
.form-delivery-row input {
    width: 90%;
    font-size: 1rem;
    padding: 0.4rem 0;
    border: none;
    display: inline-block;
    border-bottom: solid 2px #999;
    background-color: transparent;
    transition: all 0.3s ease;
}

.modal .modal-info .info form .form-list .form-list-row input {
    width: 70%;
    font-size: 1rem;
    padding: 0.4rem 0;
    border: none;
    display: inline-block;
    border-bottom: solid 2px #999;
    background-color: transparent;
    transition: all 0.3s ease;
}
.form-delivery-row input:focus {
  border-color: #0b8d66;
}

.modal .modal-info .info form .form-list .form-list-row input:focus {
    border-color: #0b218d;
}



.modal .modal-info .info form .form-list .form-list-row .user .fa-user {
    color: #000000;
    font-size: 1rem;
}
.name input {
    position: relative;
    left: -16px;
    padding-left: 30px;
}

.modal .modal-info .info form .form-list .form-list-row .user input {
    position: relative;
    left: -16px;
    padding-left: 30px;
}


.modal .modal-info .info form .form-list .form-list-row .number .fa-credit-card {
    color: #000000;
    font-size: 1rem;
}
.number input {
    position: relative;
    left: -20px;
    padding-left: 30px;
}
.city input {
    position: relative;
    left: -20px;
    padding-left: 30px;
}
.street input {
    position: relative;
    left: -20px;
    padding-left: 30px;
}
.modal .modal-info .info form .form-list .form-list-row .number input {
    position: relative;
    left: -20px;
    padding-left: 30px;
}

.modal .modal-info .info form .form-list .form-list-row .date {
    float: left;
}
.modal .modal-info .info form .form-list .form-list-row .date input {
    width: 60px;
    text-align: center;
}
.modal .modal-info .info form .form-list .form-list-row .date .year {
    margin-left: 1.5rem;
}
.modal .modal-info .info form .form-list .form-list-row .cvc {
    float: left;
    margin-left: 6rem;
    text-align: center;
}
.modal .modal-info .info form .form-list .form-list-row .cvc .fa-question-circle {
    color: dodgerblue;
    display: inline-block;
    position: relative;
    left: 0.75rem;
}
.product-labels__item {
    display: inline-block;
    margin-right: 10px; /* Подрегулирайте този маргин според вашите предпочитания */
}

@media screen and (max-width: 767px) {
    .product-labels {
        width: 100%;
    }
}
.product-labels__checkbox {
    display: none;

}
.product-labels__checkbox:checked + .product-labels__txt {
    border-color: #0defac;
    padding: 10px 13px;

}
.product-labels__title {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 10px;

}
.product-labels__group {
    display: flex;
    margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
    .product-labels__group {
        justify-content: center;
    }
}
.product-labels__group:last-child {
    margin-bottom: 0;
}
.product-labels__item {
    margin: 5px;
    cursor: pointer;
}
.product-labels__item:first-child {
    margin-left: 0;
}
.product-labels__txt {
    display: block;
    border: 2px solid transparent;
    font-size: 14px;
    padding: 10px 20px;
    padding-left: 0;
    border-radius: 50px;
    transition: all 0.3s;
    letter-spacing: 2px;
}
.modal .modal-info .info form .form-list .form-list-row .cvc input {
    width: 70px;
    text-align: center;
}
.modal .modal-info .info form .form-list .form-list-row .checkbox {
    margin-top: 2rem;
}
.modal .modal-info .info form .form-list .form-list-row .checkbox input {
    width: auto;
}
.modal .modal-info .info form .form-list .form-list-row .checkbox span {
    font-size: 0.8rem;
}
.next {
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.8rem 2.5rem;
    position: absolute;
    bottom: 0;
    left: 40px;
    border: none;
    border-radius: 3px;
    background-color: #101979;
    background-image: linear-gradient(-45deg, #141f94 0%, #0dbb87 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}
.next:hover {
    background-color: #1926b4;
    background-image: linear-gradient(-45deg, #0b8d66 0%, #0e1564 100%);
    transition: 1s;
}
.modal .modal-info .info form button {
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    padding: 1rem 2.5rem;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 3px;
    background-color: #101979;
    background-image: linear-gradient(-45deg, #141f94 0%, #0dbb87 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}
.modal .modal-info .info form button:hover {
    background-color: #1926b4;
    background-image: linear-gradient(-45deg, #0b8d66 0%, #0e1564 100%);
    transition: 1s;
}
#circle {
    background: rgb(21,188,180);
    background: linear-gradient(45deg, rgba(21,188,180,1) 12%, rgba(25,25,157,1) 43%, rgba(101,2,162,1) 74%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    left: 490px;
    top: 24px;
}
.arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 16px;
    left: 15px;
    justify-items: center;
    align-items: center;
    transform: rotate(180deg);
}
.link {
   left: 40px
;
}