* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 15px;
}
body {
    background: #f7f7ff;
    font-family: "Montserrat", sans-serif;

}






.popupBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 300;
}

.popupBox__content {
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popupBox__img {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupBox__img img{
    width: 80%;
}

.popupBox__img::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgb(224,254,255);
    background: linear-gradient(90deg, rgba(224,254,255,1) 0%, rgba(224,226,255,1) 41%, rgba(247,224,255,1) 100%);
    border-radius: 50%;
}

.popupBox__img img {
    position: relative;
    max-width: 350px;
    z-index: 1;
}

.popupBox__contentTwo {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupBox__title {
    color: #333;
    line-height: 1em;
    font-weight: 300;
    font-size: 2em;
}

.popupBox__titleTwo {
    font-size: 4em;
    color: #887fff;
    line-height: 1em;
}

.popupBox__titleTwo span {
    color: #333;
    font-size: 0.45em;
    text-transform: uppercase;
}

.popupBox__description {
    font-weight: 300;
}

.popupBox__btn {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(136,127,255);
    background: linear-gradient(90deg, rgb(154, 145, 255) 0%, rgb(204, 152, 255) 91%);
    text-decoration: none;
    color: #000;
    margin-top: 15px;
    border-radius: 10px;
}
.popupBox__btn:hover {
    background: rgb(136,127,255);
    background: linear-gradient(90deg, rgb(127, 116, 255) 0%, rgb(191, 125, 255) 91%);
    color: #FFFFFF;
    box-shadow: 1px 1px 10px #c17fff;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url(https://www.pikpng.com/pngl/m/302-3024308_close-icon-png-x-png-icon-clipart.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .popupBox__content {
        width: 300px;
        height: auto;
        flex-direction: column;
    }
    .popupBox__img {
        height: 200px;
        transform: translateY(-50px);
    }
    .popupBox__contentTwo {
        height: auto;
        text-align: center;
        padding: 20px;
        padding-top: 0;
    }
    .popupBox__img::before {
        background: #fff;
    }
    .close {
        top: -50px;
        right: -10px;
        background: #fff url(https://www.pikpng.com/pngl/m/302-3024308_close-icon-png-x-png-icon-clipart.png);
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: center;
    }
}











.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modalNew {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 500;
}

.modal-contentNew {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
}
@media (max-width: 768px) {
    .modal-contentNew {
        width: 300px;
    }
}
.closeOld {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.closeNew {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeOld:hover {
    color: black;
}
.closeNew:hover {
    color: black;
}
.closeOld:focus {
    outline: none;
}
.closeNew:focus {
    outline: none;
}


/* Стилове за бутона в модалния прозорец */
.modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #45a049;
}
.btnNew {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btnNew:hover {
    background-color: #45a049;
}
.logo-img {
    width: 80px;
    align-items: center;
}
.section-box {
    width: 100%;
    height: 100%;
    padding: 50px;
    position: relative;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.toggle {
    margin-top: 2rem;
    color: hsl(234, 14%, 74%);
    display: flex;
    align-items: center;
    padding: 50px;
}
.toggle-btn {
    margin: 0 1rem;
}
.checkbox {
    display: none;
}

.sub {
    background: linear-gradient(
            135deg,
            rgb(93, 104, 248) 0%,
            rgb(175, 114, 250) 100%
    );
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 25px;
    width: 50px; */
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}
.circle {
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}
.checkbox:checked + .sub {
    justify-content: flex-end;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    color: hsl(233, 13%, 49%);
    border-radius: 0.8rem;
}

.cards .card.active {
    background: linear-gradient(
            135deg,
            rgb(152, 157, 250) 0%,
            rgb(131, 92, 250) 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}
.price-ul {
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.price-ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}
.price-ul li.price {
    font-size: 3rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 2rem;
}
.shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.card.active .price {
    color: #fff;
}

.btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(
            135deg,
            rgba(163, 168, 240, 1) 0%,
            rgba(105, 111, 221, 1) 100%
    );
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
}
.btn:hover {

    background: linear-gradient(
            135deg,
            rgb(126, 132, 253) 0%,
            rgb(145, 76, 248) 100%
    );
    color: #fff;
    box-shadow: 1px 1px 5px #914CF8FF;

}
.active-btn {
    background: #fff;
    color: hsl(237, 63%, 64%);
}
.active-btn:hover {
    background: linear-gradient(
            135deg,
            rgb(30, 40, 243) 0%,
            rgb(119, 37, 245) 100%
    );
    color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 5px #4d56ff;
}
.bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}
.card.active .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}
.pack {
    font-size: 1.1rem;
}

@media (max-width: 280px) {

    .price-ul {
        margin: 1rem;
    }
    h1 {
        font-size: 1.2rem;
    }
    .toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }
    .cards {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .card {
        transform: scale(0.8);
        margin-bottom: 1rem;
    }
    .cards .card.active {
        transform: scale(0.8);
    }
}

@media (min-width: 280px) and (max-width: 320px) {

    .price-ul {
        margin: 20px;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        margin-bottom: 1rem;
    }
    .cards .card.active {
        transform: scale(1);
    }
}

@media (min-width: 320px) and (max-width: 414px) {

    .cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        margin-bottom: 1rem;
    }
    .cards .card.active {
        transform: scale(1);
    }
}
@media (min-width: 414px) and (max-width: 768px) {

    .card {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .cards .card.active {
        transform: scale(1);
    }
}
@media (min-width: 768px) and (max-width: 1046px) {

    .cards {
        display: flex;
    }
    .card {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .cards .card.active {
        transform: scale(1);
    }
}